
<div class="micro-components">
    <app-header title="Micro components render test" message="Test polega na mierzeniu czasu renderowania się mikro komponentów w dowolnej ilości."/>
    <div class="options-container">
      <input type="number" [(ngModel)]="rectsCount" placeholder="Podaj ilość komponentów" />
      <input type="number" [(ngModel)]="rectsSize" placeholder="Podaj rozmiar komponentów" />
      <button class="render-button" (click)="startRenderRects()">Render</button>
      <button class="reset-button" (click)="resetTest()">Reset</button>
    </div>
    <div class="render-time">
      <div *ngIf="endTime">
        Czas renderowania: {{ ((endTime - startTime) / 1000).toFixed(4) }} s
      </div>
      <div *ngIf="endTime">
      |  one rect render time {{ ((endTime - startTime) / rectsCount / 1000).toFixed(5) }} s
      </div>
    </div>

    <app-render-plan
      [isRendering]="isRendering"
      [timeRender]="timeRender"
      [countRenderRects]="rectsCount"
      [rects]="rects"
      [rectsSize]="rectsSize"
      (setFinishRender)="setFinishRender($event)"
    ></app-render-plan>
  </div>


